/************************************
 * LAYOUT
 ************************************/
* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    padding: 0;
}

/************************************
 * HEADER
 ************************************/

header {
    background: #222;
    height: 50px;
    margin: 0;
    padding: 8px;
}

h2 {
    color: #ddd;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu {
    background: #8c8cff;
    border-radius: 4px;
    color: #eee;
    display: inline-block;
    margin-right: 5px;
    padding: 6px;
}

#menu:hover {
    background: #6565b8;
    cursor: pointer;
}

/************************************
 * LOCATION LIST
 ************************************/

#list-container {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    height: calc(100% - 50px);
    margin-left: -220px;
    overflow: auto;
    transition: all .3s;
    width: 220px;
    z-index: 1;
}

#list-container.showList {
    margin-left: 0;
}

.location-list {
    border: 1px solid #999;
    padding: 10px 10 xp 30px 10px;
}

h4 {
    color: #eeeeee;
    margin: 0;
    padding: 15px 10px 5px 10px;
}

.filter {
    font-size: 1rem;
    height: 30px;
    padding: 3px;
    width: 100%;
}

.marker-btn {
    color: #ddd;
    background: rgba(0, 0, 0, 0.3);
    border-top: 1px solid #555;
    font-size: 0.8rem;
    padding: 10px;
}

.marker-btn:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/************************************
 * GOOGLE MAP
 ************************************/
#map {
    height: calc(100% - 50px);
}

/************************************
 * INFO WINDOW
 ************************************/
.title {
    font-weight: bold;
}

.errorMsg {
    color: #ff8080;
}

.attribution {
    color: #999;
    display: block;
    font-size: 11px;
    margin-top: 0.75rem;
    text-align: center;
    text-decoration: none;
}
